
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group mb-3">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>

  <div class="form-check">
  <%= f.collection_check_boxes :tool_ids, @tools, :id, :name %>
  </div>

  <div class="form-check">
  <%= f.file_field :picture %>
  </div>



  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>
